.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex-align {
  display: flex;
  align-items: center;
}
.container-operate {
  padding: 0 10px;
  height: 50px;
  justify-content: space-between;
}
.operate-input {
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
}
.operate-btn {
  height: 30px;
  margin-right: 10px;
}
.list  {
  display: flex;
  overflow-y: auto;
  padding: 0 10px 10px 10px;
}
.list-left {
  flex: 1;
}
.list-right {
  flex: 1;
}

.data-cell {
  padding: 10px 10px;
}

.table {
  width: 100%;
  border-radius: 4px 4px 0 0;
  border-collapse: separate;
  border-spacing: 0;
}

.table-head {
  background-color: #fafafa;
}

.table .table-tr {
  text-align: left;
  padding: 10px 10px;
  word-break: break-all;
}
.table .table-td {
  border-bottom: 1px solid #e8e8e8;
  text-align: left;
  padding: 10px 10px;
  word-break: break-all;

}

.table-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

/* .table-body-tr {

} */


.table .table-tr-width1 {
  width: 15%;
}
.table-tr-width2 {
  width: 10%;
}
/* .table-tr-width3 {
  width: 10%;
} */
.table-tr-width4 {
  width: 10%;
}

.options-container {
  padding: 0 10px;
}
.options-tip {
  line-height: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mr10 {
  margin-right: 10px;
}
